body{
	background-color: #d4d4d50d;
}

img{
	max-width: 400px;
	max-height: 400px;

	margin-right: 5px;
}

.imageDiv{
	width: 90%;
	margin-left: 5%;

	padding-left: 10%;
}

.ui.segment{
	font-size: 18px;

	width: 75%;
	margin: auto;
}

a.item{
	font-size: 18px;
}

table{
	width: 75%;
	margin: auto;
	margin-top: 5%;
}

td{
	width: 50%;
}

#mainHeader{
	text-align: left;
	font-size: 18px;
}

#contact{
	text-align: right;
	font-size: 18px;
}

#contact h2{
	margin-bottom: 0px;

}

.LI-view-profile{
	float: left;
}

.LI-badge-container.horizontal.light .LI-name a {
	font-size: 23px !important;
}
